---

---

<ul class="text-white flex">
  <li>
    <a style="color:white;" href="/" title="SavvyLoans">
      home
    </a>
  </li>
  <li>
    <a style="color:white;" class="text-white" href="/about" title="SavvyLoans">
      about
    </a>
  </li>
</ul>
